<h1>Here's the about page</h1>

<h2>List of students:</h2>
<ul>
  <% @students.each do |xarulaum| %>
    <li>O aluno é <%= xarulaum %></li>
  <% end %>
</ul>

<%= link_to "Back to Home", root_path %>
<!-- <a href="localhost:3000/">Back to Home</a> -->
