<h1>This is our toppest home page</h1>

<form action="/about" method="get">
  <input type="text" name="first_letter">
  <input type="submit" value="Search">
</form>

<%= link_to "About Page", about_path %>
<%= link_to "Contact Page", contact_path %>
